In [17]:
#Countdown form 10

for i in range(11,1,-1):
    print (i-1)

10
9
8
7
6
5
4
3
2
1

In [4]:
#sum of digits:
n = int(input("Enter a number: "))
sum1  = 0

for i in range(1,n+1):
    sum1 += i

print(f'Sum of digits: {sum1}')

Sum of digits: 10

In [5]:
# Multiplication Table

n = int(input('Enter a number: '))
row = 1
column = 1

print(f'Multiplication Table of {n}\n')

for row in range(1,n+1):
    for j in range(1,n+1):
        multiply = column * j
        print (multiply, end="\t")
    print()
    column +=1

Multiplication Table of 2

1	2
2	4

In [6]:
#star pattern

n = int(input('Enter the amount of rows: '))

for i in range(1,n+1):
    for j in range(1,i+1):
        print ("*",end="")
    print()

*
**
***

In [7]:
#break on 15

for i in range(1,20+1):
    print(i)
    if i == 15:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [15]:
#break on even number

for i in range(1,10+1):
    print (i)
    if i % 2 == 0:
        break

1
2

In [9]:
#skip odd

for i in range(0,9+1):
    if i % 2 != 0:
        continue
    else:
        print(i)

0
2
4
6
8

In [10]:
#skip 5

for i in range(1,10+1):
    if i == 5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [14]:
#columns

row = int(input('Enter amount of rows: '))
columns = int(input('Enter amount of columns: '))

for i in range(1,row+1):
    for j in range(1,columns+1):
        print (f'({i},{j})', end="\t")
    
    print()

(1,1)	(1,2)
(2,1)	(2,2)

In [19]:
#prime numbers

n = int(input('Enter an integer: '))

for i in range(2,n+1):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19